body {
font-family: Arial;
margin: 0;
background: #f4f6f8;
}

header {
background: #0d6efd;
color: white;
padding: 20px;
text-align: center;
}

nav a {
color: white;
margin: 10px;
text-decoration: none;
font-weight: bold;
}

section {
padding: 40px;
}

.hero {
background: #e9f1ff;
text-align: center;
}

.card {
background: white;
padding: 20px;
margin: 15px;
border-radius: 10px;
box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

form {
display: flex;
flex-direction: column;
max-width: 400px;
}

input, textarea {
margin: 10px 0;
padding: 10px;
}

button {
background: #0d6efd;
color: white;
padding: 10px;
border: none;
cursor: pointer;
}

footer {
background: #111;
color: white;
text-align: center;
padding: 15px;
}
